<footer class="footer">
    <div class="footer_bar">
        <div style="background-color: rgb(47, 47, 158);color: white; text-align: center;">
        </br>Copyright ©Roselynn Properties. All rights reserved.   Site by: <a href="https://www.nspace.co.ke" style="color: rgb(0, 255, 157);">Nspace</a></br></br>
    </div>
    </div>
</footer>