<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
    
              <p class="centered"><a href="#"><img src="/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              <h5 class="centered">session</h5>
    
            <li class="sub-menu">
                <a href="home" >
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
    
    <li class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fa fa-cog"></i>
      <span>Add Property</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="add-house">Add House</a>
        <a class="collapse-item" href="add-land">Add Land</a>
        <a class="collapse-item" href="add-motor">Add Motor</a>
    
      </div>
    </div>
    </li>

        <li class="sub-menu">
          <a href="manage-houses" >
              <i class="fa fa-users"></i>
              <span>Manage Houses</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="manage-lands" >
              <i class="fa fa-users"></i>
              <span>Manage Lands</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="manage-motors" >
              <i class="fa fa-users"></i>
              <span>Manage Motors</span>
          </a>
        </li>

            <li class="sub-menu">
                <a href="manage-orders" >
                    <i class="fa fa-users"></i>
                    <span>Manage Orders</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="view-sales" >
                    <i class="fa fa-users"></i>
                    <span>View Sales</span>
                </a>
    
            </li>
            <li class="sub-menu">
                <a href="contact" >
                    <i class="fa fa-users"></i>
                    <span>Contact Page</span>
                </a>
    
            </li>
        </ul>
    </div>
</aside>